<form action="" method="POST" class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" value="">
        <% if(errors.old_password) { %>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <small class="help-block"><%= errors.old_password.message %></small>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" value="">
        <% if(errors.new_password) { %>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <small class="help-block"><%= errors.new_password.message %></small>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password" value="">
        <% if(errors.confirm_new_password) { %>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <small class="help-block"><%= errors.confirm_new_password.message %></small>
        <% } %>
      </div>
    </div>
  </div>



  <div class="row pull-right">
    <div class="col-md-12">
      <input type="submit" class="btn btn-primary" value="Submit" />
      or 
      <a href="/admin/profile" class="">Cancel</a>
    </div>
  </div>
</form>
