<div class="row">
    <div class="col-md-1 mb-md">
        <a href="/admin/seasons/create" class="btn btn-primary">Create new season</a>
    </div>
</div>

<div class="row table-responsive">
  <table class="table table-striped">
  <% seasons.forEach(function (season) { %>
    <tr class="<%= (!!season.default) ? 'success' : '' %>">
      <td><%= season.title %></td>
      <td>
        <form method="POST" action="/admin/seasons/<%= season.id%>" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </td>
  <% }) %>
  </table>
</div>
